

.split{
  height: 100%;
  
  position: fixed;
  overflow-x: scroll;
  

  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;

  z-index: 1;
  top: 0;
}


.left{
	float:left;
	margin-right:350px;
  	background-color: lightblue;
 	overflow-x: scroll;

}

.right{
	right: 0;
	width:350px;
  	background-color: lightgreen;
}


.cardSearchPanel{
	min-height:200px;
	background-color:gray;
}
.cardListingPanel{
	/*background-color:beige;*/
}


.selectedCardPanel{
	background-color: yellow;
	width:350px;
}

.selectedCard{
	height:489px;
	width:350px;
}

.selectedCardInfo{
	max-width: 100%;
	background-color:lightgray;
	word-wrap:normal;
	font-family:  "Yu Gothic", "MS Gothic";
	font-size: 14px;
}
.cardHeader{
	padding: 4px;
	padding-bottom: 0px;
	min-height:20px;
	white-space: pre-line;

}
.cardTitle{
	/*font-weight:bold;*/
}
.cardDesc{
	padding-left: 4px;
	padding-right: 4px;
	width:100%;
	min-height:176px;
	white-space: pre-line;
}


.deckPanel{
	min-height:300px;
	width:300px;

	background-color: pink;
	padding:5px;
}

.card-image{
	width: 100px;
	vertical-align: top;
}

.descriptionKeyword{
	font-weight: bold;
}

.deckTextHeader{
	font-weight: bold
}